<svg width="3.5rem" height="3.5rem" viewBox="0 0 44 44" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>diamond-钻石</title>
    <defs>
        <rect id="path-1" x="0" y="0" width="44" height="44"></rect>
    </defs>
    <g id="页面-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="详情页" transform="translate(-780.000000, -1045.000000)">
            <g id="diamond-钻石" transform="translate(780.000000, 1045.000000)">
                <mask id="mask-2" fill="white">
                    <use xlink:href="#path-1"></use>
                </mask>
                <g id="蒙版"></g>
                <g mask="url(#icon-product-diamond)" fill="#000000" fill-rule="nonzero" id="形状">
                    <g transform="translate(4.033333, 4.766667)">
                        <path d="M36.586,10.1456667 L36.5016667,10.2263333 L18.8246667,33.7993333 L18.6596667,33.9643333 L18.579,33.9643333 C18.524,34.0193333 18.4433333,34.045 18.3333333,34.045 C18.2233333,34.045 18.1426667,34.0193333 18.0876667,33.9643333 L18.007,33.9643333 L17.842,33.7993333 L0.165,10.2263333 C0.11,10.2263333 0.0843333333,10.2006667 0.0843333333,10.1456667 L0.0843333333,10.065 C0.0256666667,10.01 0,9.955 0,9.9 L0,9.81933333 L0,9.65433333 L0.0806666667,9.57366667 C0.0806666667,9.52233333 0.106333333,9.46366667 0.161333333,9.40866667 L0.161333333,9.328 L9.328,0.161333333 C9.438,0.11 9.51866667,0.0806666667 9.57366667,0.0806666667 C9.62866667,0.0293333333 9.70933333,1.01770444e-15 9.81933333,1.01770444e-15 L26.8436667,1.01770444e-15 C26.9536667,1.01770444e-15 27.0343333,0.0293333333 27.0893333,0.0806666667 C27.1443333,0.0806666667 27.1993333,0.11 27.2543333,0.161333333 L27.335,0.161333333 L36.5016667,9.328 C36.5566667,9.438 36.5823333,9.51866667 36.5823333,9.57366667 L36.6666667,9.65433333 L36.6666667,9.81933333 L36.6666667,9.9 L36.586,10.065 L36.586,10.1456667 Z M1.96533333,10.472 L16.2066667,29.4616667 L9.33166667,10.472 L1.96533333,10.472 Z M9.16666667,2.20733333 L2.211,9.163 L9.16666667,9.163 L9.16666667,2.20733333 Z M16.8593333,1.30533333 L10.4756667,1.30533333 L10.4756667,8.18033333 L16.8593333,1.30533333 Z M10.7213333,10.472 L18.3333333,31.427 L25.9453333,10.4756667 L10.7213333,10.4756667 L10.7213333,10.472 Z M25.3733333,9.163 L18.3333333,1.63533333 L11.2933333,9.163 L25.3733333,9.163 Z M26.191,1.30533333 L19.8073333,1.30533333 L26.191,8.18033333 L26.191,1.30533333 Z M20.46,29.4616667 L34.7013333,10.472 L27.335,10.472 L20.46,29.4616667 Z M34.4556667,9.163 L27.5,2.20733333 L27.5,9.163 L34.4556667,9.163 Z"></path>
                    </g>
                </g>
            </g>
        </g>
    </g>
</svg>