<svg width="3.5rem" height="3.5rem" viewBox="0 0 44 44" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>退货-01</title>
    <defs>
        <rect id="path-1" x="0" y="0" width="44" height="44"></rect>
    </defs>
    <g id="页面-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="详情页" transform="translate(-779.000000, -909.000000)">
            <g id="退货-01" transform="translate(779.000000, 909.000000)">
                <mask id="mask-2" fill="white">
                    <use xlink:href="#path-1"></use>
                </mask>
                <g id="蒙版"></g>
                <g mask="url(#icon-product-return)" fill="#000000" fill-rule="nonzero">
                    <g transform="translate(4.033333, 5.133333)">
                        <path d="M36.6666667,33.7244751 L0,33.7244751 L0,11.8439028 L7.95657176,0 L28.2592752,0 L36.6666667,11.8518119 L36.6666667,33.7244751 Z M1.58182341,32.1426517 L35.0848433,32.1426517 L35.0848433,12.3579954 L27.4406816,1.58182341 L8.79889272,1.58182341 L1.58182341,12.3263589 L1.58182341,32.1426517 Z" id="形状"></path>
                        <polygon id="路径" points="0.759275237 11.2942192 35.2548893 11.2942192 35.2548893 12.8760426 0.759275237 12.8760426"></polygon>
                        <polygon id="路径" points="17.2047023 11.8941652 17.2310397 0.789764884 18.8128631 0.793521714 18.7865653 11.8979221"></polygon>
                        <path d="M23.3279408,28.109002 L15.0985045,28.109002 L15.0985045,26.5271786 L23.3279408,26.5271786 C24.9849008,26.5271786 26.3294507,25.1786741 26.3294507,23.5256687 C26.3294507,21.8726632 24.9809462,20.5241588 23.3279408,20.5241588 L10.776172,20.5241588 L10.776172,18.9423353 L23.3279408,18.9423353 C25.8549037,18.9423353 27.9112741,20.9987058 27.9112741,23.5256687 C27.9112741,26.0526316 25.8549037,28.109002 23.3279408,28.109002 Z" id="路径"></path>
                        <polygon id="路径" points="12.737633 23.2013949 8.75539258 19.7886109 12.5201323 15.8577797 13.6629997 16.9492378 11.0529911 19.6739287 13.7697728 21.9992091"></polygon>
                    </g>
                </g>
            </g>
        </g>
    </g>
</svg>