<?xml version="1.0" encoding="UTF-8"?>
    <svg viewBox="0 0 120 120" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <title>退货-01</title>
        <defs>
            <rect id="path-1" x="0" y="0" width="120" height="120"></rect>
        </defs>
        <g id="页面-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="首页" transform="translate(-359.000000, -4124.000000)">
                <g id="退货-01" transform="translate(359.000000, 4124.000000)">
                    <mask id="mask-2" fill="white">
                        <use xlink:href="#path-1"></use>
                    </mask>
                    <g id="蒙版"></g>
                    <g mask="url(#mask-2)" fill="#000000" fill-rule="nonzero">
                        <g transform="translate(11.000000, 14.000000)">
                            <path d="M100,91.9758412 L0,91.9758412 L0,32.3015531 L21.6997412,0 L77.0707506,0 L100,32.3231234 L100,91.9758412 Z M4.31406385,87.6617774 L95.6859362,87.6617774 L95.6859362,33.7036238 L74.8382226,4.31406385 L23.9969802,4.31406385 L4.31406385,33.6173425 L4.31406385,87.6617774 Z" id="形状"></path>
                            <polygon id="路径" points="2.07075065 30.8024159 96.149698 30.8024159 96.149698 35.1164797 2.07075065 35.1164797"></polygon>
                            <polygon id="路径" points="46.9219154 32.4386324 46.9937446 2.15390423 51.3078085 2.16415013 51.2360871 32.4488783"></polygon>
                            <path d="M63.6216566,76.6609146 L41.1777394,76.6609146 L41.1777394,72.3468507 L63.6216566,72.3468507 C68.1406385,72.3468507 71.8075928,68.6691113 71.8075928,64.1609146 C71.8075928,59.6527179 68.1298533,55.9749784 63.6216566,55.9749784 L29.38956,55.9749784 L29.38956,51.6609146 L63.6216566,51.6609146 C70.5133736,51.6609146 76.1216566,57.2691976 76.1216566,64.1609146 C76.1216566,71.0526316 70.5133736,76.6609146 63.6216566,76.6609146 Z" id="路径"></path>
                            <polygon id="路径" points="34.7389991 63.2765315 23.8783434 53.9689387 34.1458154 43.2484901 37.2627265 46.2251941 30.1445211 53.6561691 37.5539258 59.997843"></polygon>
                        </g>
                    </g>
                </g>
            </g>
        </g>
    </svg>