<svg viewBox="0 0 20 19" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>爱心备份 2</title>
    <g id="页面-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="详情页" transform="translate(-521.000000, -707.000000)" fill-rule="nonzero" stroke="#EF422B">
            <g id="爱心备份-2" transform="translate(522.000000, 708.000000)">
                <path d="M9.00562852,16.7954972 C8.7129456,16.7954972 8.44277674,16.7054409 8.20637898,16.5140713 C8.01500936,16.3564728 3.34333959,12.7429643 1.47467168,9.80487804 C0.85553472,8.83677298 0,7.51969982 0,5.6510319 C0,2.53283303 2.33020638,0 5.1782364,0 C6.63039399,0 8.01500939,0.664165107 9.00562852,1.82363978 C9.98499061,0.652908071 11.358349,0 12.8217636,0 C15.6810507,0 18,2.53283301 18,5.6510319 C18,7.48592871 17.2007505,8.74671669 16.5478424,9.77110695 L16.5253283,9.80487804 C14.6566604,12.7429643 9.98499061,16.3677298 9.79362102,16.5140713 C9.5684803,16.6941839 9.29831146,16.7954972 9.00562852,16.7954972 Z" id="形状"></path>
            </g>
        </g>
    </g>
</svg>