    <svg width="12rem" height="12rem" viewBox="0 0 120 120" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <title>diamond-钻石</title>
        <defs>
            <rect id="path-1" x="0" y="0" width="120" height="120"></rect>
        </defs>
        <g id="页面-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="首页" transform="translate(-1111.000000, -4124.000000)">
                <g id="diamond-钻石" transform="translate(1111.000000, 4124.000000)">
                    <mask id="mask-2" fill="white">
                        <use xlink:href="#path-1"></use>
                    </mask>
                    <g id="蒙版"></g>
                    <g mask="url(#icon-policy-certified)" fill="#000000" fill-rule="nonzero" id="形状">
                        <g transform="translate(11.000000, 13.000000)">
                            <path d="M99.78,27.67 L99.55,27.89 L51.34,92.18 L50.89,92.63 L50.67,92.63 C50.52,92.78 50.3,92.85 50,92.85 C49.7,92.85 49.48,92.78 49.33,92.63 L49.11,92.63 L48.66,92.18 L0.45,27.89 C0.3,27.89 0.23,27.82 0.23,27.67 L0.23,27.45 C0.07,27.3 0,27.15 0,27 L0,26.78 L0,26.33 L0.22,26.11 C0.22,25.97 0.29,25.81 0.44,25.66 L0.44,25.44 L25.44,0.44 C25.74,0.3 25.96,0.22 26.11,0.22 C26.26,0.08 26.48,2.77555756e-15 26.78,2.77555756e-15 L73.21,2.77555756e-15 C73.51,2.77555756e-15 73.73,0.08 73.88,0.22 C74.03,0.22 74.18,0.3 74.33,0.44 L74.55,0.44 L99.55,25.44 C99.7,25.74 99.77,25.96 99.77,26.11 L100,26.33 L100,26.78 L100,27 L99.78,27.45 L99.78,27.67 Z M5.36,28.56 L44.2,80.35 L25.45,28.56 L5.36,28.56 Z M25,6.02 L6.03,24.99 L25,24.99 L25,6.02 Z M45.98,3.56 L28.57,3.56 L28.57,22.31 L45.98,3.56 Z M29.24,28.56 L50,85.71 L70.76,28.57 L29.24,28.57 L29.24,28.56 Z M69.2,24.99 L50,4.46 L30.8,24.99 L69.2,24.99 Z M71.43,3.56 L54.02,3.56 L71.43,22.31 L71.43,3.56 Z M55.8,80.35 L94.64,28.56 L74.55,28.56 L55.8,80.35 Z M93.97,24.99 L75,6.02 L75,24.99 L93.97,24.99 Z"></path>
                        </g>
                    </g>
                </g>
            </g>
        </g>
    </svg>