<svg viewBox="0 0 14 13" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>爱心备份</title>
    <g id="页面-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="首页" transform="translate(-1013.000000, -2435.000000)" fill="#EF422B" fill-rule="nonzero">
            <g id="编组-2" transform="translate(994.000000, 2415.000000)">
                <g id="编组-11" transform="translate(12.000000, 12.000000)">
                    <g id="爱心备份" transform="translate(7.777778, 8.555556)">
                        <path d="M6.22611354,11.6117018 C6.02376486,11.6117018 5.83698145,11.5494406 5.67354596,11.4171357 C5.54124104,11.3081787 2.31144465,8.80995066 1.0195261,6.77868111 C0.591480794,6.10937391 0,5.19880481 0,3.90688625 C0,1.75109444 1.61100688,0 3.58001529,0 C4.58397609,0 5.54124106,0.459175877 6.22611354,1.260788 C6.90320339,0.451393234 7.85268571,0 8.86442915,0 C10.8412202,0 12.4444444,1.75109443 12.4444444,3.90688625 C12.4444444,5.17545689 11.8918769,6.04711277 11.4404836,6.7553332 L11.4249183,6.77868111 C10.1329998,8.80995066 6.90320339,11.3159614 6.77089848,11.4171357 C6.61524564,11.541658 6.42846224,11.6117018 6.22611354,11.6117018 Z" id="形状"></path>
                    </g>
                </g>
            </g>
        </g>
    </g>
</svg>