.currency-selector .doubly-nice-select {
    border: 0px!important;
    background: none;
 	height: unset;
    line-height: 40px!important;
}

.currency-selector .flags {
    display: none;
}

.currency-selector .doubly-nice-select.right .list {
  	overflow: hidden!important;
}

.currency-selector .doubly-nice-select .option {
	padding-right: 18px!important;
    padding-left: 18px!important;
}

.currency-selector .doubly-nice-select:after {
 	border-bottom: 1.5px solid rgb(var(--color-foreground));
    border-right: 1.5px solid rgb(var(--color-foreground));
    height: 4px;
    top: 16px!important;
    width: 4px; 
  	right: 6px;
}
  
.doubly-nice-select.right {
  	padding-left: 5px;
    padding-right: 20px;
  	top: 2px;
}

.doubly-wrapper {
    margin-right: 10px;
}

.announcement-bar__message {
    color: rgb(var(--color-foreground));
    color: #fff;
}

.header-localization form {
    margin: 0!important;
    padding: 0!important;
}

.header-localization .localization-form__select:after {
    border: 0!important;
    box-shadow: none!important;
}

.header-localization .localization-form:only-child .localization-form__select {
    margin: 0!important;
}

.slider-counter {
    display: none!important;
}

.footer__copyright {
    text-align: center;
}

.small_box {
    position: relative;
}

.small_box .mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    opacity: 0;
    z-index: 3;
    cursor: move;
}

.small_box .float_layer {
    position: absolute;
    width: 200px;
    height: 200px;
    background: rgba(0, 0, 0, 0.2);
    display: none;
}

.big_box {
    position: absolute;
    top: 10px;
    width: 50rem;
    height: 50rem;
    overflow: hidden;
    display: none;
}

.big_box img {
    position: absolute;
}