.card__wish {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.card__wish-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    background-color: #fff;
}

.heart.add_to_wish {
    color: #ccc;
}

.add_to_wish.checked,
i.icon-heart-fill.checked {
    color: red;
}

.cart__footer .field:after .cart__footer .field:hover.field:after,
.cart__footer .field__input:focus-visible {
    border-radius: var(--inputs-radius) var(--inputs-radius) 0 var(--inputs-radius);
}

.quantity__button:focus-visible,
.quantity__input:focus-visible {
    box-shadow: 0 0 0 0.2rem rgb(var(--color-base-background-2)), 0 0 0.5rem 0.4rem rgba(var(--color-base-background-2), .3);
    outline: 0;
}

/* 购物车推荐轮播 */
.cart__swiper .card--standard>.card__content .card__information {
    padding-bottom: 0;
}


.menu-drawer__menu-onepage .menu-drawer__menu-item .icon-caret,
.menu-drawer__menu-onepage .menu-drawer .icon-arrow {
    display: inline-block !important;
}

.menu-drawer__menu-onepage .menu-drawer__menu li {
    border-top: 1px solid rgba(151, 151, 151, 0.1);
}

.menu-drawer__menu-onepage .menu-drawer__menu-item--active {
    color: #fff;
    background-color: #EF422B;
}

.menu-drawer .list-social {
    margin-top: 0 !important;
    gap: 1rem;
}

.menu-drawer .list-social__link {
    color: rgb(var(--color-base-background-2));
    border-radius: 50%;
    padding: 1rem !important;
    background-color: #fff;
}